<table mat-table class="line-item-table" [dataSource]="dataSource" style="width: 100%;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> 
          <div fxLayout="column">
            <span>{{element.name.value1}} </span>
            <span class="table-label--text">{{element.name.value2}} </span>
          </div>
          
        </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="tx-left"> Quantity </th>
      <td mat-cell *matCellDef="let element" class="tx-left"> {{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef class="tx-left"> Unit Price </th>
      <td mat-cell *matCellDef="let element" class="tx-left"> 
          {{element.unitPrice | currency}} 
          <span class="table-label--text">Unit</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef class="tx-left"> Total </th>
      <td mat-cell *matCellDef="let element" class="tx-left"> {{element.total | currency}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>