.table-label--text{
    font-size: 12px;
    font-weight: 500;
    color: #C9C9C9;
}
.line-item-table{
    background-color: inherit;
    padding: 1rem;
    .mat-header-cell {
        font-weight: bold;
        color: #000;
        font-size: inherit;
    }
    .mat-row:last-child >td.mat-cell{
        border-bottom: 0;
    }
}

.tx-left{
    text-align: end;
}